$black: #000;
$white: #fff;

$tan: #ddc997;
$gray: #a4abb6;
$blue: #778294;

$padding-half: 0.5rem;
$padding-1: 1rem;

$border-radius: 4px;

$font-heading: 'Acme', sans-serif;
$font-detail: 'Barlow', sans-serif;